---
---

@import "{{ site.theme }}";
ul {
  list-style-type: none;
  padding: 0;
}

#sidebar h2 {
  margin-bottom:8px;
  font-family:'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size:22px;
  font-weight:bold;
  color:#474747;
  text-indent:4px
}

#sidebar h2:before {
  padding-right:0.3em;
  content:"//";
  color:#9ddcff
}
